:root {
   --primary-text-color:  #757575;
   --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --special-background-color: #F5F4FA;

}
ul {
 list-style: none;   
}

.body {
    color: var(--primary-text-color);
    background-color: #F5F5F5;

    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.header {
    background-color:#FFF;
    width: 100%;
    height: 80px;
}

    h1,
    h2,
    h3 {
     font-family: Roboto, sans-serif;
    }

.header-content{
    height: 80px;

    display: flex;
    align-content: space-around;
    justify-content: space-between;
}

/* Студія */
.logo {
    display: flex;
    align-items: start;

    color: #000000;

    font-family: Raleway, sans-serif;   
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-right: 93px;

    text-decoration: none;
}
.logo .accent {
    color: var(--accent-text-color);
}

/* site nav */
.nav {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.site-nav a {
    color:var(--title-text-color);

    padding-right: 50px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-contacts a {
    color: var(--primary-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
    padding-left: 40px;
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-text-color);
}
.site-contacts a:hover,
.site-contacts a:focus {
    color: var(--accent-text-color);
}
.site-nav .link.current{
    color: var(--accent-text-color);
}

.site-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
}

.site-contacts{
    display:flex;
    align-items: center;
    justify-items: space-between;
}

/* Герой */
.hero {
    display: flex;
    background-color: #2F303A;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-title {
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;      
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    width: 696px;
    margin-bottom: 30px;
    
}
/* button */
.button {
    color: #FFFFFF;
    background-color: var(--accent-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 4px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* Секція особливостей */

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
    padding-top: 94px;
}
.section-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 94px;
    margin: 0;
}
/* Features */

.Features {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 30px;
    padding-top: 94px;
    margin: 0px;
}

.Features .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

    

/* Наша команда */
.command-title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.section-command {
    color: var(--primary-text-color); 
    background-color:var(--special-background-color);

    font-size: 16px;
    line-height: 1.19;
   
}
.devs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-bottom: 94px;
    margin-bottom: 0;
}

.dev {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    text-align: center;
    
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
    /*Футер */
.footer{
    width: 100%;
    height: 251px;
    background: #2F303A;
}
.footer .logo {
    padding-top: 60px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    padding-left: 40px;
}
 .footer,
  .footer .logo {color: #ffffff ;
        background-color: #2F303A;}  
  .footer p {
    color: #FFFFFF;
    background-color:#2F303A;
    font-size: 14px;
    font-style: normal;
 }
.address-text {
    margin-top: 28px;
    margin-bottom: 0px;
}
.address-links li {
    margin-top: 12px;
}
.address-links {
    margin: 0px;
    padding: 0px;
}
 .address-links a {

   color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;    
    text-decoration: none;
    margin-top: 12px;
 }
 .address-links a:hover,
 .address-links a:focus {
     color: var(--accent-text-color);
 }
    
/* колір тексту логотипу #000000 */
/* колір додаткового тексту блакитний #2196F3 */
/* колір додаткового тексту #212121 */
/* колір тексту сторінки #757575 */
/* колір заголовка героя #FFFFFF */
/* колір фону особливостей #F5F4FA */
/* колір фону героя  та футера #2F303A */

/* Портфоліо */
a {text-decoration: none;
color: var(--primary-text-color)}
.site-nav-portfolio button{
    color: var(--title-text-color);
    background-color: var(--special-background-color);

    padding: 6px 22px 6px 22px;
    height: auto;
    width: auto;
    border: none;
    margin: 4px;
    cursor: pointer;
}
.site-nav-portfolio button:hover,
.site-nav-portfolio button:focus {
    color: #FFFFFF;
    background-color: var(--accent-text-color);
}

.site-nav-portfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.card{
    flex: 1;
    border: 1px solid #eee;
    background: #ffffff;

    flex-basis: calc((100% - 2 * 30) / 3);
    height: 404px;
    flex-shrink: 0;
    flex-grow: 0;
}
.portfolio-title {
   color: var(--title-text-color); 

   font-weight: 700;
    font-size: 18px;
    line-height: 2.25;
    letter-spacing: 0.068em;
}
hr {
    border: none;
    height: 1px;
    background-color: #ECECECEC;
}